@import "./navigation.scss";
@import "./Landing.scss";
@import "./About.scss";
@import "./restaurantcard.scss";
@import "./RestaurantsPage.scss";
@import "./restaurant_detail.scss";

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
