@import "./colors.scss";
@import "./responsive/breakpoints.scss";

.landingWrapper {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	.landing-title {
		margin-top: 5em;
		font-size: 40px;
		text-transform: uppercase;
		color: color(secondary);

		@include screenxxs {
			font-size: 28px;
		}
	}

	.landingSearchBarWrapper {
		display: flex;
		align-items: center;
		flex-direction: column;
		margin-top: calc(2em + 2rem);
		margin-bottom: 10em;

		@include screenxxs {
			margin-bottom: 0;
		}

		span {
			font-size: 18px;
			color: color(secondary);

			@include screenxxs {
				width: 100%;
				text-align: center;
				font-size: 15px;
			}
		}

		.landingSearchBarInput {
			position: relative;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;

			@include screenxxs {
				width: 85%;
				justify-content: center;
			}

			.locationButton {
				margin-top: 1rem;
				width: 75px;
				height: calc(5vh + 5px);
				border-right: 0px;
				background: color(secondary);
				border: 1px solid color(button-border);

				@include screenxxs {
					width: 30px;
				}

				i {
					font-size: 35px;
					color: color(button-text);

					@include screenxxs {
						font-size: 18px;
					}
				}
			}

			input {
				margin-top: 1rem;
				width: 1000px;
				height: 5vh;
				font-size: 18px;
				border-left: 0px;
				border-right: 0px;

				@include screenxxs {
					width: 100%;
					font-size: 15px;
				}
			}

			.inputButton {
				right: 0;
				width: 150px;
				height: calc(5vh + 5px);
				border-bottom-right-radius: 500px;
				border-top-right-radius: 500px;
				font-size: 25px;
				margin-top: 1rem;
				color: color(secondary);
				background: color(primary);

				@include screenxxs {
					width: 60px;
					font-size: 15px;
				}

				&:hover {
					background: color(button-hover);
				}
			}
		}
	}
}
