@import "./colors.scss";

.header-nav {
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 10vh;

	.header-title {
		color: color(secondary);
		font-size: 28px;
		margin-left: 10em;
	}

	// Active class span
	.header-nav-logo {
		color: color(secondary);
	}

	// Header links (ul)
	.header-nav-links {
		color: color(secondary);
		text-decoration: none;
		list-style: none;
		font-size: 18px;
		margin-right: 10em;

		a {
			color: color(secondary);
		}
	}
}
